extends layout.pug

block scripts
    script(src="/todo.js" defer)

block content
    .bg-gradient-to-tl.from-indigo-200.via-red-200.to-yellow-100.w-full.h-screen.flex.flex-col.items-center.justify-center
        .bg-blue-100.w-full.max-w-md.border.p-6.rounded-lg.shadow-md.text-center.flex.flex-col.items-center.min-h-screen.mx-auto.relative
            form(action="/logout" method="POST")
                input.absolute.top-4.right-4.w-20.h-12.text-s.p-2.bg-red-200.font-semibold.text-black.rounded-md.border.border-gray-300.cursor-pointer(type="submit" value="Log Out")
            header.p-4.border-b.border-gray-300
                h1.pt-8.text-2xl.font-semibold.mb-2 TODOS
            form.flex.space-x-2.w-full.px-6(id="new-task-form")
                input(type="text" id="task" placeholder="Enter Task Here ..." class="w-full p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500")
                button.w-20.h-14.text-lg.p-4.bg-blue-500.text-white.rounded-md(type="submit") Add
            ul.mt-4.w-full.px-6.pt-4(id="tasklist")
                each task in tasks
                    li(class="py-4 border-b last:border-b-0 border-gray-300 flex items-center relative")
                        - var cbid = "checkbox " + task.id
                        input(type="checkbox" id=cbid checked=task.completed class="mr-2") 
                        label.ml-2.capitalize(for=cbid)=task.text
                        button.right-2.w-8.h-8.bg-red-400.text-lg.font-semibold.rounded-md.border.border-gray-300.absolute.delete(type="button" id=task.id) X